[submodule "deps/ST-LIB"]
	path = deps/ST-LIB
	url = https://github.com/HyperloopUPV-H8/ST-LIB
[submodule "Core/Inc/Communications/JSON_ADE"]
	path = Core/Inc/Code_generation/JSON_ADE
	url = https://github.com/HyperloopUPV-H8/adj
[submodule "generated_code"]
	path = generated_code
	url = https://github.com/Hyperloop-UPV/CurrentControl_Booster.git
[submodule "Matlab_Code_Generation/CurrentControl"]
	path = Matlab_Code_Generation/CurrentControl
	url = https://github.com/Hyperloop-UPV/CurrentControl_Booster.git
[submodule "Matlab_Code_Generation/SpeedControl"]
	path = Matlab_Code_Generation/SpeedControl
	url = https://github.com/Hyperloop-UPV/SpeedControl_Booster.git
